# For PG Container
POSTGRES_PASSWORD="<your_pw_here>" # Can be generated with e.g. `openssl rand -base64 32`
POSTGRES_USER="<your_user_here>" # E.g. spetsctf
# Database
DATABASE_URL="postgres://<user>:<password>@<ip>:<port>/<dbname>" # TODO update
# OAuth
GITHUB_CLIENT_ID="<get_from_gh_dev_settings>"
GITHUB_CLIENT_SECRET="<get_from_gh_dev_settings>"

VERSION_STRING="dev"
