@import 'tailwindcss';
/* 
box-sizing: border-box;
color: rgb(214, 214, 214);
font-family: Karelia, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 23px;
margin-bottom: 15px;
margin-top: 5px;
--abb-beige: #f3f3ec;
--black: #1d1d1b;
--dark-grey: #999;
--dim-beige: #61615e;
--hitachi-pink: #ffe6e9;
--light-grey: #d6d6d6;
--light-orange: #ff9b3d;
--line-color: #0003;
--red-light: #ff0026;
--white: white;
--white-smoke: whitesmoke;
--white-smoke-2: whitesmoke */

@theme {
	/*****************************/
	/**********  COLORS  *********/
	/*****************************/

	/* dark/light denotes theme, i.e light colors can be dark, but should be used for lightmode*/
	--color-background-light: #f3f3ec;
	/* abb-beige*/
	--color-background-dark: #1d1d1b;
	/* black*/

	--color-foreground-dark: #f3f3ec;
	--color-foreground-light: #1d1d1b;

	--color-button-dark: #a60022;
	/*red-light*/
	--color-button-light: #ff0026;
	/*red-light*/

	--color-accent-light: #a60022;
	/*red-light*/
	--color-accent-dark: #ff0026;

	--color-hitachi-pink: #ffe6e9;
	--color-orange-light: #ff9b3d;
	--color-grey-light: #d6d6d6;
	--color-grey-dark: #999;
	--color-dim-beige: #61615e;

	--color-challenge-solved-dark: #ff0026;
	--color-challenge-solved-light: #a60022;

	--color-backdrop-light: rgba(255, 255, 255, 0.9);
	--color-backdrop-dark: rgba(0, 0, 0, 0.8);

	/* --color-abb-beige: oklch(96.22% 0.0093 106.57);  */
	/* --color-abb-beige: rgb;  */
	/* --color-abb-beige: rgb(0,0,0);  */

	/*****************************/
	/**********  TEXTS  **********/
	/*****************************/
	--fs-hero: 48px;
	--fs-h1: 24px;
	--fs-h3: 18px;
	--fs-p: 12px;
	--fs-challenge-categories: 8px;

	--fw-bold: 400;

	--font-main: Karelia, sans-serif;

	/*****************************/
	/*********  BORDERS  *********/
	/*****************************/

	--button-radius: 0.3rem;
	--card-radius: 0.5rem;

	/*****************************/
	/**********  SIZES  **********/
	/*****************************/

	--nav-height: 4em;
	--main-height: calc(100vh - var(--nav-height));
	--hero-height: calc(9 / 10 * var(--main-height));

	--challenge-card-height: clamp(100px, 20vh, 200px);
	--challenge-card-width: clamp(200px, 20vw, 250px);

	--challenge-dialog-height: clamp(350px, 70vh, 650px);
	--challenge-dialog-width: clamp(400px, 80vw, 700px);

	--dont-fucking-care-anymore: calc(100vw - var(--main-paddin-inline))
		/*****************************/ /********  PADDINGS  *********/ /*****************************/
		--challenge-padding-inline: 5%;
	--main-padding-inline: 10%;
}

body {
	@apply bg-background-light dark:bg-background-dark m-0 box-border h-full w-screen p-0;
	/* @apply font-[var(--font-main)]; */
	@apply font-sans;

	/* @apply font-sans-; */
}

h1:not(.hero-text, .ignore-default) {
	@apply text-4xl md:text-5xl;
}

h3:not(.ignore-default) {
	@apply text-2xl md:text-4xl;
}

button:not(.ignore-default) {
	@apply text-foreground-light dark:text-foreground-dark bg-button-light dark:bg-button-dark border-foreground-light dark:border-foreground-dark flex justify-around gap-2 rounded-md border-2 px-3 py-2 active:border-0;
}

.route-title {
	@apply mt-4 w-full text-left text-4xl md:text-6xl;
}

.content {
	@apply w-full px-[var(--main-padding-inline)] pt-5;
}

a:not(.nav-option, .challenge-resource, .ignore-default) {
	@apply text-accent-light dark:text-accent-dark underline;
}

.challenge-resource {
	@apply text-background-dark dark:text-background-light font-bold;
}
