@import 'tailwindcss';

@font-face {
    font-family: Inter Tight;
    src: url('/fonts/inter-tight.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@font-face {
    font-family: Source Code Pro;
    src: url('/fonts/source-code-pro.woff2') format('woff2-variations');
    font-weight: 500 600;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}

@theme {
    --color-backdrop: var(--color-backdrop);
    --color-overlay: var(--color-backdrop);

    --color-bg-900: var(--color-bg-900);
    --color-bg-850: var(--color-bg-850);
    --color-bg-800: var(--color-bg-800);
    --color-bg-700: var(--color-bg-700);
    --color-bg-600: var(--color-bg-600);

    --color-text-100: var(--color-text-100);
    --color-text-150: var(--color-text-150);
    --color-text-200: var(--color-text-200);

    --color-card: var(--color-card);

    --color-primary: var(--color-primary);
    --color-primary-light: var(--color-primary-light);
    --color-primary-extra-light: var(--color-primary-extra-light);

    --color-inner-shadow: oklch(0.55 0.0091 73.68 / 25%);

    --color-point-100: oklch(0.86 0.2297 148.84);
    --color-point-200: oklch(0.905 0.204 122.59);
    --color-point-300: oklch(0.82 0.1558 81.13);
    --color-point-400: oklch(0.68 0.1945 36.96);
    --color-point-500: oklch(0.63 0.2306 26.91);

    --font-sans: 'Inter Tight', sans-serif;
    --font-mono: 'Source Code Pro', monospace;

    --default-transition-duration: 200ms;
}

/* Color theme */
@layer base {
    /* :root { */
    /*       --color-bg-900: oklch(0.96 0.002 106.59); */
    /*       --color-bg-850: oklch(0.9 0.0019 106.57); */
    /*       --color-bg-800: oklch(0.85 0.0015 17.27); */
    /*       --color-bg-750: oklch(0.77 0.0015 17.27); */
    /*       --color-bg-700: oklch(0.7 0.0018 17.27); */
    /*       --color-bg-600: oklch(0.66 0.0039 84.58); */
    /*       --color-bg-500: oklch(0.6 0.0058 78.26); */
    /**/
    /*       --color-text-100: oklch(0.1588 0.0173 321); */
    /*       --color-text-200: oklch(0.2181 0.0173 321); */
    /**/
    /*       --color-primary: oklch(0.55 0.2503 297.91); */
    /*       --color-primary-light: oklch(0.67 0.1821 302.65); */
    /*       --color-primary-extra-light: oklch(0.86 0.0724 305.79); */
    /*       --color-primary-dark: oklch(0.4265 0.2195 297.91); */
    /**/
    /*       --color-backdrop: rgba(255, 255, 255, 0.9); */
    /**/
    /*       --color-gradient-100: oklch(66.788% 0.00675 75.216); */
    /*       --color-gradient-200: oklch(81.898% 0.00817 73.542); */
    /*       --color-gradient-300: oklch(92.459% 0.00537 95.188); */
    /*   } */

    @media (prefers-color-scheme: dark) {
        :root {
            --color-bg-900: #141414;
            --color-bg-850: #181818;
            --color-bg-800: #1d1e1e;
            --color-bg-700: #222323;
            --color-bg-600: #2a2b2c;

            --color-card: #1d1d1d;

            --color-text-100: #f4f4f4;
            --color-text-150: #aeaeae;
            --color-text-200: #4f5457;

            --color-primary: #8937ed;
            --color-primary-light: #ad75f1;
            --color-primary-extra-light: #ddc6f8;

            --color-backdrop: rgba(13, 13, 13, 0.5);
        }
    }
}

@utility scrollbar-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility noise {
    &::before {
        content: '';
        position: fixed;
        top: -10rem;
        left: -10rem;
        width: calc(100% + 20rem);
        height: calc(100% + 20rem);
        z-index: -10;
        opacity: 0.3;
        background-image: url('/assets/noise.png');
        background-repeat: repeat;
        pointer-events: none !important;
        animation: noise 1s infinite steps(2);
        will-change: transform;
    }
}

@utility noise-contained {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: -10rem;
        left: -10rem;
        width: calc(100% + 20rem);
        height: calc(100% + 20rem);
        z-index: -10;
        opacity: 0.3;
        background-image: url('/assets/noise.png');
        background-repeat: repeat;
        pointer-events: none !important;
        animation: noise 1s infinite steps(2);
        will-change: transform;
    }
}

@layer utilities {
    *::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 100vh;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--color-bg-600);
        border-radius: 100vh;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: var(--color-text-200);
    }
}

body {
    @apply noise scrollbar-hidden dark:bg-bg-900 text-text-100 selection:bg-text-100 selection:text-bg-900 m-0 box-border min-h-screen scroll-smooth px-3 py-1 font-sans leading-tight font-medium antialiased lg:px-16;
}

/* NOTE: No firefox support as of now sadly */
*,
*::before,
*::after {
    corner-shape: superellipse(1);
}

@keyframes noise {
    0% {
        transform: translate3d(0, 9rem, 0);
    }

    10% {
        transform: translate3d(-1rem, -4rem, 0);
    }

    20% {
        transform: translate3d(-8rem, 2rem, 0);
    }

    30% {
        transform: translate3d(9rem, -9rem, 0);
    }

    40% {
        transform: translate3d(-2rem, 7rem, 0);
    }

    50% {
        transform: translate3d(-9rem, -4rem, 0);
    }

    60% {
        transform: translate3d(2rem, 6rem, 0);
    }

    70% {
        transform: translate3d(7rem, -8rem, 0);
    }

    80% {
        transform: translate3d(-9rem, 1rem, 0);
    }

    90% {
        transform: translate3d(6rem, -5rem, 0);
    }

    100% {
        transform: translate3d(-7rem, 0, 0);
    }
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    appearance: textfield;
    -moz-appearance: textfield;
}

.content {
    margin-top: 1rem;
}

h2 {
    @apply mb-1 text-lg font-bold;
}

.inner-shadow {
    box-shadow: 92px 4px 64px var(--color-inner-shadow) inset;
}

@layer components {
    .link {
        @apply relative inline-block transition-all duration-500;
    }

    .link::after {
        content: '';
        @apply bg-primary absolute -bottom-px left-0 h-0.5 w-full origin-bottom-right scale-x-0 transition-transform duration-300 ease-in-out;
    }

    .link:hover::after {
        @apply origin-bottom-left scale-x-100;
    }

    .challenge-dialog::-webkit-scrollbar,
    .challenge-dialog *::-webkit-scrollbar {
        display: none;
    }

    .challenge-dialog::-webkit-scrollbar-thumb,
    .challenge-dialog *::-webkit-scrollbar-thumb {
        width: 5px;
        border-radius: 100%;
    }

    *:has(.challenge-dialog) {
        overflow-y: hidden;
    }
}
