@import 'tailwindcss';

@font-face {
	font-family: Bricolage Grotesque;
	src: url('/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Inconsolata;
	src: url('/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	/*****************************/
	/**********  COLORS  *********/
	/*****************************/

	/* dark/light denotes theme, i.e light colors can be dark, but should be used for lightmode*/
	--color-background-light: #f3f3ec;
	/* abb-beige*/
	--color-background-dark: #1d1d1b;
	/* black*/

	--color-foreground-dark: #f3f3ec;
	--color-foreground-light: #1d1d1b;

	--color-button-dark: #a60022;
	/*red-light*/
	--color-button-light: #ff0026;
	/*red-light*/

	--color-accent-light: #a60022;
	/*red-light*/
	--color-accent-dark: #ff0026;

	--color-hitachi-pink: #ffe6e9;
	--color-orange-light: #ff9b3d;
	--color-grey-light: #d6d6d6;
	--color-grey-dark: #999;
	--color-dim-beige: #61615e;

	--color-challenge-solved-dark: #10c200;
	--color-challenge-solved-light: #10c200;

	--color-backdrop-light: rgba(255, 255, 255, 0.9);
	--color-backdrop-dark: rgba(0, 0, 0, 0.8);

	/* --color-abb-beige: oklch(96.22% 0.0093 106.57);  */
	/* --color-abb-beige: rgb;  */
	/* --color-abb-beige: rgb(0,0,0);  */

	/*****************************/
	/**********  TEXTS  **********/
	/*****************************/
	--fs-hero: 48px;
	--fs-h1: 24px;
	--fs-h3: 18px;
	--fs-p: 12px;
	--fs-challenge-categories: 8px;

	--fw-bold: 400;

	/*****************************/
	/*********  BORDERS  *********/
	/*****************************/

	--button-radius: 0.3rem;
	--card-radius: 0.5rem;

	/*****************************/
	/**********  SIZES  **********/
	/*****************************/

	--nav-height: 4em;
	--main-height: calc(100vh - var(--nav-height));
	--hero-height: calc(9 / 10 * var(--main-height));

	--challenge-card-height: clamp(100px, 20vh, 200px);
	--challenge-card-width: clamp(200px, 20vw, 250px);

	--challenge-dialog-height: clamp(350px, 70vh, 650px);
	--challenge-dialog-width: clamp(400px, 80vw, 700px);

	--dont-fucking-care-anymore: calc(100vw - var(--main-paddin-inline))
		/*****************************/ /********  PADDINGS  *********/ /*****************************/
		--challenge-padding-inline: 5%;
	--main-padding-inline: 10%;

	/*  NEW  */

	--color-bg-900: oklch(0.19 0.002 106.59);
	--color-bg-850: oklch(0.21 0.0019 106.57);
	--color-bg-800: oklch(0.23 0.0015 17.27);
	--color-bg-750: oklch(0.25 0.0015 17.27);
	--color-bg-700: oklch(0.26 0.0018 17.27);
	--color-bg-600: oklch(0.29 0.0039 84.58);
	--color-bg-500: oklch(0.36 0.0058 78.26);

	--color-text-100: oklch(0.92 0.0063 75.4);
	--color-text-200: oklch(0.45 0.0089 80.7);

	--color-primary: oklch(0.55 0.2503 297.91);
	--color-primary-light: oklch(0.67 0.1821 302.65);
	--color-primary-extra-light: oklch(0.86 0.0724 305.79);

	--color-secondary: oklch(0.68 0.1945 36.96);

	--color-seperator: oklch(0.22 0.0025 67.7);
	--color-inner-shadow: oklch(0.55 0.0091 73.68 / 25%);

	--color-point-100: oklch(0.86 0.2297 148.84);
	--color-point-200: oklch(0.92 0.2064 120.19);
	--color-point-300: oklch(0.82 0.1558 81.13);
	--color-point-400: oklch(0.68 0.1945 36.96);
	--color-point-500: oklch(0.63 0.2306 26.91);

	--color-gradient-100: oklch(0.38 0.0065 67.63);
	--color-gradient-200: oklch(0.33 0.0045 67.67);
	--color-gradient-300: oklch(0.29 0.0039 84.58);

	--color-overlay: oklch(0.19 0.0026 67.67 / 70%);

	--font-main: 'Bricolage Grotesque', sans-serif;
	--font-sans: 'Bricolage Grotesque', sans-serif;
	--font-mono: 'Inconsolata', monospace;

	--text-sm: 14px;
	--text-base: 16px;
	--text-lg: 24px;
	--text-xl: 36px;

	--default-transition-duration: 200ms;

	--radius-lg: 16px;
	--radius-xl: 32px;

	--font-weight-bold: 600;
}

body {
	@apply bg-background-light dark:bg-bg-900 text-text-100 selection:bg-text-100 selection:text-bg-900 relative !m-0 box-border min-h-screen px-4 pt-12 font-sans font-normal lg:px-16;
}

@keyframes noiseAnimation {
	0% {
		background-position: 0px 0px;
	}

	25% {
		background-position: 1px -3px;
	}

	50% {
		background-position: -1px 2px;
	}

	75% {
		background-position: 2px -1px;
	}

	100% {
		background-position: 0px 1px;
	}
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	background-image: url('/assets/noise.png');
	background-repeat: repeat;
	opacity: 0.016;
	pointer-events: none !important;
	animation: noiseAnimation 400ms infinite steps(1);
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-spinner {
	appearance: textfield;
	-moz-appearance: textfield;
	/* Firefox */
}

h2 {
	@apply mb-1 text-lg font-bold;
}

.inner-shadow {
	box-shadow: 92px 4px 64px var(--color-inner-shadow) inset;
}

@layer components {
	.link {
		@apply relative inline-block transition-all duration-500;
	}

	.link::after {
		content: '';
		@apply bg-primary absolute bottom-[-1px] left-0 h-[3px] w-full origin-bottom-right scale-x-0 transition-transform duration-300 ease-in-out;
	}

	.link:hover::after {
		@apply origin-bottom-left scale-x-100;
	}
}

/* h1:not(.hero-text, .ignore-default) {
	@apply text-4xl md:text-5xl;
}

h3:not(.ignore-default) {
	@apply text-2xl md:text-4xl;
}

button:not(.ignore-default) {
	@apply text-foreground-light dark:text-foreground-dark bg-button-light dark:bg-button-dark border-foreground-light dark:border-foreground-dark flex justify-around gap-2 rounded-md border-2 px-3 py-2 active:border-0;
}
input:not(.ignore-default) {
	@apply border-accent-light dark:border-accent-dark border pl-2;
}

.route-title {
	@apply mt-4 w-full text-left text-4xl md:text-6xl;
}

.content {
	@apply w-full px-[var(--main-padding-inline)] pt-5;
}

a:not(.nav-option, .challenge-resource, .ignore-default) {
	@apply text-accent-light dark:text-accent-dark underline;
}

.challenge-resource {
	@apply text-background-dark dark:text-background-light font-bold;
} */
